*{margin: 0;
padding: 0;
}

.base{
    
    background-color: rgb(32, 35, 65);
     
 }

.CABEÇALHO{
    color: azure;
    background-color: #041d3a;
    display: flex;
    justify-content: center;}

.foto-cabeçalho{
   width: 10%;

}

.head{

    color: aliceblue;


}