*{margin: 0;
padding: 0;
}

.base{
    
background-image: linear-gradient(#05253a , #1070b5);

 }

.CABEÇALHO{
    color: azure;
    background-color: #041d3a;
    display: flex;
    justify-content: center;}

.foto-cabeçalho{
   width: 10%;

}

.head{

    color: aliceblue;


}
.fotodaescola{

    width: 50%;


}
.texto{

display: flex;
justify-content: space-between;
color: azure;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}